/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    padding: 20px;
    font-family: Arial;
    font-size: 2rem;
}

h3
{
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial;
    font-size: 1.2rem;
    color: rgb(64, 64, 64);
}

.container
{
    border-radius: 10px;
    background-color: rgb(225, 222, 222);
    margin: 190px auto;
    text-align: center;
    justify-content: center;
    height: 325px;
    width: 500px;
}

table
{
    font-size: 20px;
    margin: auto;
    padding: 25px;
}

td
{
    width: 50%;
}

input[type=email]
{
  width: 200%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid rgb(40, 88, 4);
  border-radius: 100px;
  box-shadow: rgb(0, 0, 0);
  /* transition: .5s ease; */
}

/* input[type=email],Input[type=password]:hover
{
    transform:scale(1.1);
} */

input[type=button]
{
    background-color: white;
    border: none;
    width: 75%;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid rgb(40, 88, 4);
    border-radius: 100px;
}

input[type=submit] 
{
    background-color: #027349;
    border: none;
    width: 75%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid rgb(40, 88, 4);
    border-radius: 100px;
    transition: .5s ease;
}

input[type=submit]:hover
{
    box-shadow: rgb(0, 0, 0);
}

